@import 'src/styles/mixins.scss';

.teaser-card {
  position: relative;
  // width: 355px;
  // height: 125px;
  margin: 150px auto;
  // background-color: #fcfdfd;
  background-color: #d9d9d9;
  border-radius: 9px;
  padding: 25px;
  padding-right: 30px;
  box-shadow: 0px 31px 35px -26px #080c21;

  .teaser-card__inner {
    position: relative;
    overflow: hidden;
    height: 100%;
  }

  .teaser-card__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    height: 100%;
    float: right;

    @include breakpoint('<tablet') {
      position: relative;
    }
  }

  .teaser-card__content-inner,
  .teaser-card__image-inner {
    padding: 1.875rem 2rem 3.75rem;
  }

  .teaser-card__content {
    padding-left: 0;
    float: left;

    .teaser-card__content-inner {
      .teaser-card__container {
        margin: 1em 0;
      }

      .date {
        font-size: 14px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.5);
      }

      .city {
        font-size: 21px;
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 5px;
        color: rgba(0, 0, 0, 0.7);
      }

      .temp {
        position: relative;
        font-size: 40px;
        color: rgba(0, 0, 0, 0.9);
        font-weight: 100;

        img {
          width: 1.5em;
        }

        span {
          position: absolute;
          top: 0.1em;
          left: auto;
          bottom: 0;
          right: auto;
        }

        .fa-temperature-low {
          color: #2108aa;
        }

        .fa-temperature-high {
          color: #f26e20;
        }
      }
    }
  }

  .teaser-card__image-inner {
    text-align: center;

    .flag-icon {
      width: 4em;
      height: 3em;
    }

    p {
      margin: 0;
      font-weight: 700;
    }
  }

  .teaser-card__image,
  .teaser-card__content {
    @include breakpoint('<tablet') {
      float: unset;
      width: 100%;
    }

    @include breakpoint('tablet') {
      width: 50%;
    }
  }
}
