<div class="widget" *ngIf="data">
  <div class="widget__inner">
    <div class="widget__content">
      <div class="widget__content-inner">
        <current-date [timezone]="data.timezone"></current-date>
        <div class="widget__container">
          <div class="widget__text">
            <div class="city">
              <span>{{ data.city }}</span>
              <p>lat/lon: {{ data.lat }}/{{ data.lon }}</p>
            </div>
            <div class="temp">
              <img
                [src]="icon"
                alt="Weather icon"
                *ngIf="!isImageLoading; else noImageFound"
              />
              <ng-template #noImageFound>
                <i class="fas fa-rainbow"></i>
              </ng-template>
              <span
                >{{ data.temperature }} &deg;
                <i
                  class="fas fa-temperature-low"
                  *ngIf="data.temperature < 10"
                ></i
                ><i
                  class="fas fa-temperature-high"
                  *ngIf="data.temperature >= 10"
                ></i
              ></span>
            </div>
            <section class="description">
              <p>
                {{ data.description }}
              </p>
              <p>
                humidity: {{ data.humidity }}% <i class="fas fa-umbrella"></i>
              </p>
              <p>
                wind speed: {{ data.windSpeed }} KM/H
                <i class="fas fa-wind"></i>
              </p>
            </section>
          </div>
        </div>
      </div>
    </div>
    <country-flag [countryId]="data.countryId"></country-flag>
  </div>
</div>
