@import 'src/styles/mixins.scss';

#header {
  display: flex;

  .mat-toolbar {
    display: flex;
    margin: auto;
    margin-top: 2%;
    border-bottom: 4px solid #685bd7;
    background: none;
    width: 100%;
  }
}
