#not-found {
  display: flex;
  flex-direction: column;
  margin: 2em auto;

  .icon {
    display: flex;
    margin: 0 auto 0;

    i {
      font-size: 2em;
      color: #e2001a;
    }
  }

  h1 {
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 1.0625rem;
    color: #5a5a5a;
    text-align: center;
    line-height: 1.5rem;
  }
}
