@import 'src/styles/mixins.scss';

#home {
  display: flex;
  justify-content: center;
  margin: auto;
  color: #5a5a5a;
  margin-top: 3em;
  width: 100%;
  flex-direction: column;

  @include breakpoint('<tablet') {
    width: 95%;
  }
}
