@import 'src/styles/mixins.scss';

#home {
  display: flex;
  justify-content: center;
  margin: auto;
  color: #5a5a5a;
  margin-top: 3em;
  width: 100%;
  flex-direction: column;

  @include breakpoint('<tablet') {
    width: 95%;
  }

  .bold {
    font-weight: 800;
  }

  form {
    margin: 2em 0;

    .mat-form-field {
      margin-right: 1em;
    }
  }

  button {
    margin-left: 1em;
    font-weight: 600;
    background-color: #d9d9d9;
  }
}
