@import 'src/styles/mixins.scss';

#footer {
  clear: both;
  overflow: hidden;
  background: #5a5a5a;
  color: #fff;
  margin: 0 auto;

  .container {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .row {
    margin: 0 auto;
    padding: 3rem 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2.375rem;
    width: 100%;
  }

  .wrapper {
    flex: 0 0 100%;
  }

  button.totop {
    position: absolute;
    width: 50px;
    height: 50px;
    min-width: 0;
    border-radius: 25px;
    padding: 0;

    @include breakpoint('<tablet') {
      position: relative;
      margin: 2em auto;
    }

    @include breakpoint('tablet') {
      right: 5em;
      bottom: -25px;
    }

    @include breakpoint('desktop') {
      right: 11em;
    }

    i {
      color: #e2001a;
      font-size: 1.6em;
    }
  }

  div.copyright {
    line-height: 1.875rem;
    background-color: #b8d6f0;

    @include breakpoint('<tablet') {
      text-align: center;
    }

    a {
      text-decoration: none;
      color: #5a5a5a;
      margin-left: 10%;
      font-size: 0.675rem;
      font-weight: 600;

      @include breakpoint('<tablet') {
        margin: 0;
      }
    }
  }
}
